.container {
    width: 100%;
    font-size: 0.8rem;
    color: var(--grey-text-primary);
    background-color: var(--grey-main);
    border-radius: 0.2rem 0.2rem 0 0;
    max-width: 300px;
}
.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0.7rem;
    cursor: pointer;
}
.chevron {
    color: #fff;
    transform: rotate(90deg) !important;
    transition: 0.1s ease-in-out;
}
.content {
    display: flex;
    flex-direction: column;
}
.inside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0.7rem 0.9rem 0.7rem;
    transition: 0.1s ease-in-out;
    max-height: 500px;
    overflow: hidden;
}
.hidden {
    .inside {
        max-height: 0;
        transition: 0.1s ease-in-out;
        padding-bottom: 0;
    }
    .chevron {
        color: var(--grey-outline);
        transform: rotate(0deg) !important;
    }
}
.has_changed::after {
    content: "";
    border-radius: 999px;
    position: absolute;
    top: calc(50% - 0.25rem);
    right: -1rem;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #00b871;
    pointer-events: none;
}
