.container {
    width: fit-content;
    padding: 0.9rem 2.6rem;
    font-size: 0.5rem;
    border: none;
    border-radius: 0.4rem;
    letter-spacing: 2px;
    color: #fff;
    background: transparent linear-gradient(255deg, #11998e 0%, #38ef7d 100%) 0% 0% no-repeat padding-box;
    cursor: pointer;
}
