.main {
    min-height: 100vh;
    padding: 1rem 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @media (min-width: 768px) {
        padding: 4rem 4rem;
    }
}
.grid {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: flex-start;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.8rem;
    width: 100%;
    box-shadow: 0px 6px 32px #0e2a6029;
    border-radius: 0.4rem;
    font-size: 0.8rem;
    max-width: 20rem;
    position: relative;

    @media (min-width: 420px) {
        padding: 1.3rem;
    }

    .title {
        .production_year {
            font-size: 0.6rem;
            vertical-align: top;
            font-weight: bold;
            color: var(--accent-primary);
            margin-left: 0.25rem;
        }
    }
    .vin {
        font-size: 0.5rem;
        margin-bottom: 0.5rem;
        color: var(--grey-outline);
    }
    .image {
        max-width: min(264px, 100%);
        height: auto;
        border-radius: 0.2rem;
    }
    .features {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0.8rem;
        margin-top: auto;
        padding-top: 0.9rem;

        .features_cols {
            display: flex;
            gap: 0.8rem;

            .price {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                font-size: 1.4rem;
                white-space: nowrap;
                gap: 0.4rem;
                flex: 1;

                .price_optional {
                    font-size: 0.7rem;
                    white-space: nowrap;
                }
            }

            .features_row {
                display: flex;
                flex-direction: column;
                gap: 0.8rem;
            }
        }

        .options {
            display: flex;
            align-items: center;
            cursor: pointer;
            .all_options {
                display: table;
                table-layout: fixed;
                width: fit-content;
                div {
                    width: fit-content;
                    display: table-cell;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            .more_options_text {
                flex: 1;
                font-size: 0.6rem;
                color: var(--grey-outline);
                letter-spacing: 1.2px;
                margin-left: 0.2rem;
                width: fit-content;
                white-space: nowrap;
            }
        }
    }

    .features_cols_price {
        flex-direction: column;
        margin-top: 2rem;
        align-items: center;
        justify-content: space-between;
        @media (min-width: 420px) {
            flex-direction: row;
        }
    }
}

.modal {
    position: absolute;
    left: 1rem;
    bottom: -1rem;
    max-width: 13rem;
    font-size: 0.6rem;
    background-color: #fff;
    border-radius: 0.2rem;
    padding: 0.8rem 1rem;
    box-shadow: 0px 3px 24px #707b8c;
    z-index: 10;
}
.modal_title {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: var(--accent-primary);
    margin-bottom: 1rem;

    svg {
        box-sizing: content-box;
        padding: 0.2rem;
        cursor: pointer;
    }
}
.modal_list {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
