.main {
    min-height: 100vh;
    padding: 4rem 4rem;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.grid {
    margin-top: 1rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    padding: 1.3rem;
    box-shadow: 0px 6px 32px #0e2a6029;
    border-radius: 0.4rem;
    font-size: 0.8rem;
    max-width: 20rem;

    .title {
        .production_year {
            font-size: 0.6rem;
            vertical-align: top;
            font-weight: bold;
            color: var(--accent-primary);
            margin-left: 0.25rem;
        }
    }
    .vin {
        font-size: 0.5rem;
        color: var(--grey-outline);
    }
    .image {
        max-width: min(264px, 100%) !important;
        height: auto;
        border-radius: 0.2rem;
    }
    .features {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0.8rem;

        .features_cols {
            display: flex;
            gap: 0.8rem;

            .price {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                font-size: 1.4rem;
                white-space: nowrap;
                gap: 0.4rem;
                flex: 1;

                .price_optional {
                    font-size: 0.7rem;
                    white-space: nowrap;
                }
            }

            .features_row {
                display: flex;
                flex-direction: column;
                gap: 0.8rem;
            }
        }

        .options {
            display: flex;
            align-items: center;
            .all_options {
                display: table;
                table-layout: fixed;
                width: fit-content;
                div {
                    width: fit-content;
                    display: table-cell;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            .more_options_text {
                flex: 1;
                font-size: 0.6rem;
                color: var(--grey-outline);
                letter-spacing: 1.2px;
                margin-left: 0.2rem;
                width: fit-content;
                white-space: nowrap;
            }
        }
    }
}
