@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

:root {
  --grey-main: #35373a;
  --grey-bg: #282a2e;
  --grey-outline: #707b8c;
  --grey-checkbox: #525559;
  --grey-subtext: #a4afc1;
  --grey-text-primary: #ffffffde;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
